{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #else {
  "phone_number": $util.dynamodb.toDynamoDBJson($ctx.args.phoneNumber)
} #end
}